In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('station.csv')
df1 = pd.read_csv('trip.csv',error_bad_lines=False)
df1

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

What is the average trip duration for a borrowed bicycle?

In [26]:

average_trip = df1['tripduration'].mean()
average_trip

1178.2956753399776

Whatâ€™s the most common age of a bicycle-sharer?

In [27]:
common_age = df1['birthyear'].value_counts().idxmax()
bycycle_sharers = 2020 - common_age
bycycle_sharers

33.0

Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [28]:
df2 = pd.read_csv('weather.csv')
df2
def month(val):
    return int(val.split('/')[0])
df2['Month']=df2['Date'].apply(month)
df2['Month']

0      10
1      10
2      10
3      10
4      10
       ..
684     8
685     8
686     8
687     8
688     8
Name: Month, Length: 689, dtype: int64

Whatâ€™s the average number of bikes at a given bike station?

In [33]:
avg_num_bikes = df['install_dockcount'].mean()
avg_num_bikes

17.586206896551722

When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [31]:
df
new = df[['modification_date','current_dockcount','install_dockcount']].dropna()
new

   modification_date  current_dockcount  install_dockcount
7          11/9/2015                 18                 20
10          8/9/2016                  0                 16
12         2/24/2015                 20                 18
17         2/24/2015                 26                 28
22         3/24/2015                 24                 30
23         3/27/2015                 16                 12
26         3/18/2016                  0                 16
31         2/24/2015                 20                 18
35         3/13/2015                 20                 12
37         2/23/2015                 16                 18
38         11/2/2015                  0                 20
39          3/4/2015                 16                 12
46        10/29/2015                  0                 16
47         2/20/2015                 14                 12
48         2/20/2015                 16                 18
49         2/20/2015                 14                 12
50         2/20/2015                 14                 20

6-Come up with 3 more questions that can be answered with this data set.

In [38]:
#6.1 the lowest top 10 temperature in all days
df2.sort_values('Min_TemperatureF', ascending=True).head(3)[['Date','Min_TemperatureF']]

           Date  Min_TemperatureF
446    1/2/2016                23
445    1/1/2016                25
411  11/28/2015                26

What is the highest top 10 temperature in all days?

In [39]:
#6.2 the highest  top 10 temperature in all days
df2.sort_values('Max_Temperature_F', ascending=False).head(3)[['Date','Max_Temperature_F']]

          Date  Max_Temperature_F
279  7/19/2015                 98
676  8/19/2016                 95
263   7/3/2015                 93

In [44]:
#6.3 whatâ€™s the median for long in station
med = df['long'].median()
med

-122.3282065

In [46]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(average_trip, 1178.2956753399776)
    assert_equal(bycycle_sharers, 33.0)
    assert_equal(avg_num_bikes, 17.586206896551722)

    print("Success!!!")

test()

Success!!!